* {
  margin: 0;
  padding: 0;
  cursor: none;
}

body {
  background-color: rgb(16, 16, 16);
  font-family: 'Orbit', sans-serif;
}

::selection {
  background-color: #008f11;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid white;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: linear-gradient(white, white);
  background-blend-mode: difference;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: #008f11;
  opacity: 0.5;
  height: 70px;
  width: 70px;
}


.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

.landing-container {
  background-color: rgb(23, 23, 23);
  width: 90vw;
  position: fixed;
  height: 95vh;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 35px 35px 0 0;
}

.landing-container .left {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
}

.landing-container .right {
  position: absolute;
  right: 0;
}

.landing-container .right img {
  height: 100vh;
}

.landing-container p {
  font-family: 'Orbit', sans-serif;
  font-size: 5vh;
  color: white;
}

.landing-container h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 7vw;
  background: linear-gradient(to right,
      #ffffff 20%,
      #e2e2e2 30%,
      #a8a8a8 50%,
      #e2e2e2 70%,
      #ffffff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.info {
  font-family: 'Orbit', sans-serif;
  font-size: 15px;
  color: white;
  width: 50%;

}

.info::after {
  content: "";
  width: 10px;
  height: 15px;
  background: #dadada;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;

}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}


.icons {
  display: flex;
  margin-top: 50px;
  gap: 25px;
}

.icons a {
  border-width: 2px;
  border-color: white;
  border-style: dashed;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
}

.icons a:hover {
  border-radius: 25%;
  border-color: #008f11;
}

.icons img {
  height: 35px;
  width: 35px;
  padding: 15px;

}

.skills-container {
  position: absolute;
  height: 85vh;
  width: 90vw;
  top: 100%;
  left: 50%;
  background-color: rgb(42, 42, 42);
  border-radius: 35px 35px 0 0;
  transform: translate(-50%);
  overflow-y: hidden;
}

.center {
  width: 100%;
  text-align: center;
}

h2 {
  font-family: 'Paytone One', sans-serif;
  font-size: 7vh;
  color: #dadada;
  padding: 15px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

}

.skills {
  display: flex;
  width: 100%;
  font-size: 3.5vh;
  color: #dadada;
}


.mobile-only {
  display: none;
}

.skills ul{
  list-style: none;
  line-height: 50px;
  margin-top: 30px;
}
.skills .language {
  text-align: right;
  padding-right: 15px;
  border-right: #aaaaaa 2px dashed;
  flex: 50%;
}
.skills .level {
  text-align: left;
  padding-left: 15px;
  flex: 50%;
}


/* .skills-container::before {
  content: "";
  position: absolute;
  height: 45%;
  top: 23%;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 4px;
  background-color: #fff;
} */

.projects-container {
  position: absolute;
  width: 90vw;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #343434;
  height: 100vh;
  top: 180%;
  border-radius: 35px 35px 0 0;
}

.row {
  display: flex;
  gap: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.card {
  flex: auto;
}

.card a {
  color: #1D1D1D;
  text-decoration: none;
}


.card img {
  width: 100%;
}

.card .preview {
  overflow: hidden;
  border-radius: 25px 25px 0 0;

}

.card .title {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 25px;
  background-color: #aaaaaa;
  transform: translate(0, -50%);
}

.contact-container {
  height: 100vh;
  width: 90vw;
  position: absolute;
  top: 270%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #aaaaaa;
  border-radius: 35px 35px 0 0;

}

.contact-container h2 {
  color: #1D1D1D;
}

form {
  background-color: rgb(23, 23, 23);
  width: 30%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  height: 35%
}

.email {
  width: 100%;
  background-color: rgb(23, 23, 23);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 25px 25px 0 0;
  border-style: none;
  color: #dadada;
  font-size: 18px;
}

.msg {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 25px 25px 25px 25px;
  background-color: rgb(42, 42, 42);
  border: none;
  height: 77%;
  color: #dadada;
  font-size: 18px;

}

.send {
  padding: 10px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  border: 2px solid #aaaaaa;
  transition: all 0.2s ease-in-out;
  background-color: #343434;
  margin-left: 50%;
  height: 100px;
  width: 100px;
}

.send:hover {
  background-color: #008f11;
  border-radius: 25px;
  width: 100%;
}

.send img {
  height: 50px;
  width: 50px;
}

.hide {
  display: none;
}

.stick {
  position: fixed;
  top: 15%;
}

.footer {
  position: absolute;
  width: 90vw;
  height: 10vh;
  left: 50%;
  top: 350%;
  transform: translate(-50%, 0);
  background-color: #1D1D1D;
  border-radius: 35px 35px 0 0;
  color: #dadada;
  overflow: hidden;
}

.footer p {
  margin: 20px 0 0 20px;

}

.muted {
  margin-left: 20px;
  color: #343434;
}

.muted a {
  color: #343434;
}

.muted a:hover {
  color: #dadada;
}

@media only screen and (max-width: 600px) {
  .projects-container {
    overflow-y: scroll;
  }

  .landing-container .info {
    display: none;
  }

  .landing-container .left {
    top: 5%;
  }

  .mobile-only {
    display: block;
    font-size: 15px;
    width: 100%;
    text-align: center;
    color: #aaaaaa;
    margin-top: 3vh;
  }

  .landing-container p {
    font-size: 5vw;
    text-align: center;
  }

  .landing-container h1 {
    font-size: 12vw;
    text-align: center;
  }

  .right {
    position: absolute;
    top: 55vh;
    left: 50vw;
  }

  .landing-container .right img {
    height: 30vh;
  }

  .cursor,
  .cursor2 {
    display: none;
  }

  .icons {
    display: table;
    width: 100%;
  }

  .icons a {
    border: none;
  }

  .icons img {
    height: 35px;
    width: 35px;
  }

  .skills {
    font-size: 2.5vh;
  }

  .skills ul {
    line-height: 5vh;
  }

  .row {
    flex-direction: column;
  }

  form {
    width: 90%;
  }

  .send {
    padding: 0;
    height: 70px;
    width: 70px;
  }

  .send img {
    height: 35px;
    width: 35px;
  }

}